.navbar{
    .search-form {
        width: 100%;
        max-width: 580px;
        background: rgba(255,255,255,.15);
        border-radius: 2px;
        min-width: 144px;
        padding-top: 4px;
        padding-bottom: 4px;
        .form-control {
            font-size: 14px;
            line-height: 1.25;
            border: none;  
            background: none;
            border: none;
            box-sizing: border-box;
            color: #fff;
            font-size: 1.2em;
            height: 36px;
            &::placeholder {
                color: #cccccc;
            }
            &::-webkit-input-placeholder {
                color: #cccccc;
            }
            &:-moz-placeholder {
                color: #cccccc;
            }
            &::-moz-placeholder {
                color: #cccccc;
            }
            &:-ms-input-placeholder {
                color: #cccccc;
            }
        }
        .btn{    
            background: none;
            color: #ccc;
            outline: none;
        }
        .dropdown{
            z-index: 999900 !important;
            &.show{
                display: block !important;
                position:fixed !important;
            }
        }
    }
}

.content {
    padding-bottom: 2rem;
    .rating{
        .glyphicon-star{
            color: #ffd700;

        }
    }
}

.btn {
    cursor: pointer;
    &:focus {
        outline: 0 !important;
        box-shadow: none !important;
    }
}

typeahead-container{
    .dropdown-menu{
        display: block !important;
        z-index: 1031;
        min-width: 548px;
        >li {
            >a {
                display: block;
                width: 100%;
                padding: 0.8rem;
                text-decoration: none;
                color: #292b2c;
                &:hover {
                    background: #eceeef;
                    color: #292b2c;
                }
                span {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
    }
}