
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">FOODR <small>restaurant finder.</small></h1>
      <p class="lead">Foodr helps you locate restaurants nearby. Where you eat is totally up to you.</p>
    </div>
  </div>
  <section id="home" class="content">
    <div class="container">
      <div class="row">
        <div class="col" *ngIf="locationSettingsError">
          <h1>Unable to determine your location</h1>
          <p class="text-hint">If your laptop or phone displays this error message, please check that you have internet access and your location services setting is ON.</p>
          <ol>
            <li>Connect your device to the internet.</li>
            <li>Head to Settings > Location.</li>
            <li>Make sure Mode is set to High Accuracy.</li>
          </ol>
        </div>
        <div class="col restaurants-block" *ngIf="!locationSettingsError">
          <div class="card-columns">
            <div class="card" *ngFor="let restaurant of suggestedRestaurants; let i = index">
              <a [routerLink]="['/details', restaurant.place_id]">
                <img class="card-img-top img-fluid" *ngIf="restaurant.photos" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{restaurant.photos&&restaurant.photos[0].photo_reference}}&key=AIzaSyBkGAsbPtAn9CNeuWEJh1T5kNgcE1jDD4A"
                  alt="Card image cap">
                <div class="card-block">
                  <h5 class="card-title text-uppercase">{{restaurant.name}}</h5>
                  <p class="card-text">{{restaurant.vicinity}}.</p>
                  <div class="rating" *ngIf="suggestedRestaurants[i] && suggestedRestaurants[i].rating">
                    <rating [(ngModel)]="suggestedRestaurants[i].rating" [max]="max" [readonly]="isReadOnly" ngDefaultControl></rating>
                  </div>
                </div>
              </a>
            </div>
            <div class="card" *ngIf="progressbarLoading">
              <div class="card-block">
                <div class="timeline-wrapper">
                  <div class="timeline-item">
                    <div class="animated-background">
                      <div class="background-masker header-top"></div>
                      <div class="background-masker header-left"></div>
                      <div class="background-masker header-right"></div>
                      <div class="background-masker header-bottom"></div>
                      <div class="background-masker subheader-left"></div>
                      <div class="background-masker subheader-right"></div>
                      <div class="background-masker subheader-bottom"></div>
                      <div class="background-masker content-top"></div>
                      <div class="background-masker content-first-end"></div>
                      <div class="background-masker content-second-line"></div>
                      <div class="background-masker content-second-end"></div>
                      <div class="background-masker content-third-line"></div>
                      <div class="background-masker content-third-end"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>